@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-100.eot');
  src: url('../fonts/MuseoSans-100.woff2') format('woff2'),
       url('../fonts/MuseoSans-100.woff') format('woff'),
       url('../fonts/MuseoSans-100.ttf') format('truetype'),
       url('../fonts/MuseoSans-100.svg#MuseoSans-100') format('svg'),
       url('../fonts/MuseoSans-100.eot?#iefix') format('embedded-opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-700.eot');
  src: url('../fonts/MuseoSans-700.woff2') format('woff2'),
       url('../fonts/MuseoSans-700.woff') format('woff'),
       url('../fonts/MuseoSans-700.ttf') format('truetype'),
       url('../fonts/MuseoSans-700.svg#MuseoSans-700') format('svg'),
       url('../fonts/MuseoSans-700.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-900.eot');
  src: url('../fonts/MuseoSans-900.woff2') format('woff2'),
       url('../fonts/MuseoSans-900.woff') format('woff'),
       url('../fonts/MuseoSans-900.ttf') format('truetype'),
       url('../fonts/MuseoSans-900.svg#MuseoSans-900') format('svg'),
       url('../fonts/MuseoSans-900.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
}