.sprite {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -9999px; 
}

.sprite-arrow-down {
    width: 11px;
    height: 8px;
    background-position: -5px -5px;
}

.sprite-close-menu {
    width: 30px;
    height: 25px;
    background-position: -26px -5px;
}

.sprite-hamburger-menu {
    width: 30px;
    height: 25px;
    background-position: -5px -40px;
}

.sprite-search {
    width: 17px;
    height: 16px;
    background-position: -45px -40px;
}

.sprite-search-lg {
    width: 29px;
    height: 27px;
    background-position: -72px -5px;
}
